<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="row">
            <div class="bar bar-header bar-calm">
                <h1 class="title">
                    {{date | date:'dd/MM/yyyy HH:mm'}}
                </h1>
            </div>
        </div>
        <br /><br />
        <div class="row">

            <div class="card col col-100">
                <div class="item item-text-wrap">
                    <span class="button-assertive">{{nombre}}</span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col col-100">
                <img src="img/lego.jpg">
            </div>
        </div>

    </ion-content>
</ion-view>
