nav {
    background-color:#039be5;
}

.bt {
    width:49% !important;
    margin-right: 0.3rem;
    margin-bottom: 1rem !important;
}

.bt5 {
    width:98.5% !important;
}

.logo {
    width:4.25rem;
}